<% include ./partials/adminhead %>
<div class="row">
  <div class="col-md-12 m-auto">
  <p class="lead mb-3 text-center">View Reports</p>
<table class="table">
    <thead>
      <tr>
        <th>Inovice ID</th>
        <th>Paitent Name</th>
        <th>Test</th>
        <th>Date</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
     <tbody>  
        <% include ./partials/messages %>
         <% print.forEach(function (report) { %>
            <tr>  
                <td><%= report.iid %></td>  
                <td><%= report.name %></td>
                <td><%= report.testname %></td>
                <td><%= report.date.toDateString()  %></td>
                <td><a href="/view/<%= report.reportid %>" class="btn btn-secondary btn-sm">View</a></td>
                <td><a href="/admin/reportdel?id=<%= report.id %>" class="btn btn-secondary btn-sm">Delete</a></td>
            </tr>                                   
         <% }) %>
         </tbody>
  </table>
   </div>
</div>
